<a class="btn-close-modal" (click)="doClose()"><i class="fa fa-times"></i></a>
<div class="row">
	<div class="col-12">
		<h3> Send {{kitty.Info.Name}} </h3>
		<p class="text-center">Where would you like to send {{kitty.Info.Name}}?</p>
	</div>
</div>

<div class="row">
	<div class="col-6 offset-3">
		<div class="row">
			<div class="col-12">
				<img [src]="kittyImage()" class="px-5 img-fluid" alt="{{kitty.Info.Name}}">
				<h2 class="pt-1" *ngIf="kitty.Info.Legendary">Legendary</h2>
        <p class="pt-1"><span>Created</span>: {{kitty.Info.Created / 1000000 | date:'short'}}</p>
        <p>Breed: {{kitty.Info.Breed.breed}}</p>
			</div>
		</div>
        <form class="row" [formGroup]="sendKittyForm" novalidate>
          <div class="col-12">
            <p>Send to</p>
          </div>
          <div class="col-12">
              <input type="text" class="form-control mx-auto" placeholder="address" formControlName="toAddress">
              <small [hidden]="sendKittyForm.controls.toAddress.valid || sendKittyForm.controls.toAddress.untouched"
                   class="text-danger">
                Invalid Address.
            </small>
          </div>
        </form>
    </div>
</div>

<div class="row mt-5">
	<div class="col-12 text-center">
		<button class="btn btn-lg btn-primary" [disabled]="sendKittyForm.invalid" (click)="doSend()">Send</button>
	</div>
</div>