<a class="btn-close-modal" (click)="doClose()"><i class="fa fa-times"></i></a>
<div class="row">
	<div class="col-12">
		<h3> Breed </h3>
		<p class="text-center">Choose two kitties to breed together</p>
	</div>
</div>


<div class="row mt-5 breed-container">
	<div class="col-6 breed-selection" *ngFor="let kitty of entry.kitties" (click)="toggleKitty(kitty)" [ngClass]="{'breed-selected': kittySelected(kitty)}">
		<div class="px-5">
			<img class="img-fluid" [src]="kittyImage(kitty.Info.ID)">
			<p class="text-center">{{kitty.Info.Name}}</p>
		</div>
	</div>
</div>

<div class="row mt-5">
	<div class="col-12 text-center">
		<button class="btn btn-primary" (click)="doConfirmBreed()" [disabled]="selectedKitties.length < 2">Birds and the bees</button>
	</div>
</div>