<a class="btn-close-modal" (click)="doClose()"><i class="fa fa-times"></i></a>
<div class="row">
	<div class="col-12">
		<h3> Feed {{kitty.Info.Name}} </h3>
		<p class="text-center">What would you like to feed {{kitty.Info.Name}}?</p>
	</div>
</div>

<div class="row mt-5">
	<div class="col-6 offset-3">
		<div class="row my-4" *ngFor="let food of availableFood">
			<div class="col-3 offset-3">
				<input type="number" class="form-control" min="0" max="10">
			</div>
			<div class="col-6">
				<label>{{food.name}}</label>
			</div>
		</div>
	</div>
</div>

<div class="row mt-5">
	<div class="col-12 text-center">
		<button class="btn btn-primary" (click)="doConfirmFeed()">Confirm</button>
	</div>
</div>