.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.cat-box {
	margin-bottom: 20px;
	background-color: white;
	border-radius: 25px;
}

.btn{
    white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	word-wrap:break-word;
}

.cat-box h2 {
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
}

.cat-box h1 {
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 20px;
	text-align: center;
}

.cat-box p {
	font-size: 14px;
	text-align: center;
	white-space: nowrap;
	padding: 0;
	margin: 0;
}

.cat-box p.med {
	font-family: 'Montserrat-Medium', sans-serif;
}

.price {
	width: 100%;
    white-space: normal !important;
    word-wrap: break-word;
}

.round-feed-btn {
	position: absolute;
	top: 10px;
	right: 40px;
	cursor: pointer;
	z-index: 1;
}