<div class="cat-box py-3">
    <button class="btn round-feed-btn" (click)="doFeed()"><img src="assets/svg/feed-round.svg"></button>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6 offset-3">
                    <img [src]="boxImage(cat.kitty_id)" class="img-fluid" alt="???" *ngIf="!cat.box_open">
                    <img [src]="cat.image" class="img-fluid pointer" alt="{{cat.name}}" *ngIf="cat.box_open" (click)="showKittyDetails()">
                    <h2 class="pt-3" *ngIf="cat.legendary">Legendary</h2>
                    <div class="row">
                        <div class="col-9">
                            <div class="progress my-3">
                              <div class="progress-bar bg-success" role="progressbar"></div>
                            </div>
                        </div>
                        <div class="col-2">
                            <label class="float-right mt-3">0</label>
                        </div>
                    </div>
                    <h1 *ngIf="cat.box_open">{{cat.name}}</h1>
                    <p class="my-3" style="white-space: normal;">{{cat.bio}}</p>
                    <p><span>Breed</span>: {{cat.breed}}</p>
                </div>
            </div>
           
        </div>
    </div>
</div>