<a *ngFor="let wallet of wallets" (click)="open(wallet)" class="wallet-selector" [ngClass]="{'active':wallet == currentWallet}">
	<p class="label-container">
		{{ wallet.meta.label }} 
	</p>
	<i class="fa fa-cog float-right" *ngIf="!wallet.meta.locked" style="font-size: 75%; color: lightgray;" (click)="walletSettings(wallet)"></i>
	<img src="assets/svg/encrypted.svg" class="float-right" *ngIf="wallet.meta.loacked">
</a>

<button class="btn-create-wallet mb-3" (click)="createWallet()">
  <img src="assets/svg/add-wallet.svg">
</button>
