@import '../../../../assets/scss/_variables.scss';

.btn-close-modal {
	color: $primary-color !important;
	float: right;
}

.address-panel {
	border-radius: 25px;
	background-color: white;
}
.address-panel input {
	word-break: no-wrap;
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}